

h2 {
    font-size: 50pxs;
    margin-top: 125px;
    text-align: left;
    color: black;
}

p {
    color: black; 
    font-weight: bolder;
}

span {
    background-color: rgb(177, 200, 204);
    opacity: 0.80;
}

.img-fluid {
    margin-top: 125px;
    margin-left: 50px;
    border:2px solid #fff;
    background: url() no-repeat;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    box-shadow: 10px 10px 5px #ccc;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
    border-radius:25px;
} 


footer {
    padding-top: 5rem;
    background-color: #4285f4;
    color: black;
    }

.background {
    background-image: url('/img/skyline2.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center; 
    padding-bottom: 150px;
}