
.portfolio {
    background-color: #4285f4;
} 


 h1 {
    padding: 50px;
    color: #d5d5d5;
}

.display-4 {
    text-decoration: underline;
    text-decoration-color: black;
    }

span {
    background-color: #4285f4;
    color: black;
    opacity: 0.85;
}

footer {
    padding-top: 3rem;
}

.card {
    margin: 30px;
}

p {
    font-weight: bolder;
}

footer {
    background-color: #4285f4;
    color: black;
}

.firstCard {
    margin-left: 55px
}

.secondCard {
    margin-left: 55px
}

.hops {

    margin-bottom: 8px;    
}